.cardContainer {
  width: 800px !important;
}
/* Card Holder */
.cardBox {
  display: flex;
  flex-direction: row;
  height: 25vh;
}

/* Club Image */
.clubImage {
  width: 40%;
  height: auto;
  object-fit: cover;
}

/* Card Content */
.cardContent {
  display: flex;
  flex-direction: column;
  width: 70%;
}

/* Action Btn */
.actionBtn {
  margin-top: auto;
  padding: 0 !important;
}
