.commentContainer {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.commentDataContainer {
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  gap: 1em;
}

.commentAuthor {
  font-size: 1em;
  font-weight: 600 !important;
}

.cardActions {
  align-self: flex-end !important;
}
