.detailsCardContainer {
  height: auto;
}

/* Image */
.cardMedia {
  height: 350px;
}

/* Summary */
.clubSummary {
  padding: 1em 0;
}

/* Action Btns */
.cardActions {
  margin-right: 1em !important;
  gap: 0.5em;
  justify-content: flex-end;
  margin-bottom: 1em;
}

@media screen and (max-width: 1038px) {
  .cardActions {
    display: flex !important;
    flex-direction: column;
    align-items: stretch !important;
    justify-content: center;
    overflow: hidden;
    margin: 0 auto !important;
  }

  button {
    width: 100%;
    margin: 0 !important;
  }
}
