.detailsPageContainer {
  max-width: 70% !important;
  margin: 64px auto;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

@media screen and (max-width: 600px) {
  .detailsPageContainer {
    max-width: 90% !important;
  }
}
