.detailsCardContainer {
  max-width: 70%;
  margin: 64px auto;
  height: auto;
}

/* Image */
.cardMedia {
  height: 350px;
}

/* Summary */
.clubSummary {
  padding: 1em 0;
}

/* Action Btns */
.cardActions {
  margin-right: 3em;
  gap: 0.5em;
  justify-content: flex-end;
  margin-bottom: 1em;
}

.divider {
  max-width: 90%;
  margin: auto !important;
}

@media screen and (max-width: 600px) {
  .detailsCardContainer {
    max-width: 90%;
  }
}
