/* .pageContainer {
  display: flex;
  flex-direction: row;
} */

/* Page Left Side*/
/* .imageSection {
} */

.detailsCardContainer {
  max-width: 70%;
  margin: 64px auto;
  height: 80vh;
}

/* Image */
.cardMedia {
  height: 350px;
}

/* Summary */
.clubSummary {
  padding: 1em 0;
}

/* Action Btns */
.cardActions {
  margin-right: 3em;
  gap: 0.5em;
  justify-content: flex-end;
}

.divider {
  max-width: 90%;
  margin: auto !important;
}
