@media screen and (min-width: 849px) {
  .desktopClubsListContainer {
    padding: 4em 0;
  }

  .mobileClubsListContainer {
    display: none !important;
  }
}

@media screen and (max-width: 850px) {
  .desktopClubsListContainer {
    display: none !important;
  }

  .mobileClubsListContainer {
    display: flex !important;
    margin: 4.5em 0;
  }
}
