.clubName {
  font-size: 2em;
  text-align: center;
  padding-bottom: 1em;
  opacity: 0.5;
}

.calendar-container {
  height: 100vh;
  max-width: 90%;
  padding: 3em 0;
  margin: auto;
}

.rbc-calendar * {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

/* Calendar Header*/
.rbc-time-header {
  background-color: #ededed;
}

.rbc-allday-cell {
  display: none;
}

.rbc-header {
  border-bottom: 0 !important;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px !important;
}

/* Time Slot */
.rbc-events-container .rbc-event {
  background-color: #1976d2;
}

.rbc-today {
  background-color: #f7f7f7 !important;
}

.rbc-time-header-gutter {
  border-bottom: 1px solid #ddd;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.rbc-time-header-gutter::after {
  content: "Time";
}

/* Hide event start and end time */
.rbc-event-label {
  display: none !important;
}

.rbc-event-content {
  font-size: 16px;
  overflow-y: scroll;
  white-space: pre-wrap;
}
/* 
.rbc-label.rbc-time-header-gutter,
.rbc-time-gutter.rbc-time-column {
} */

.rbc-time-gutter.rbc-time-column * {
  text-align: center;
  padding: 0 0.5em;
}
