.registerFormGrid {
  height: 100vh;
}

.registerPageLeftSide {
  background-image: url("../../../public/images/tennis-sign-in-page.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.registerFormBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3.5em;
}

.registerFormContainer {
  max-width: 80%;
  margin-top: 0.5em;
}

.submitBtn {
  margin: 1.5em 0 !important;
}

.link {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  color: #1976d2;
  text-decoration: underline;
  text-decoration-color: rgba(25, 118, 210, 0.4);
}
