.loginFormGrid {
  height: 100vh;
}

.loginPageLeftSide {
  background-image: url("../../../public/images/tennis-sign-in-page.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.loginFormBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginFormContainer {
  max-width: 90%;
}

.submitBtn {
  margin: 1.5em 0 !important;
}
